.file-dropper {
  border: 1px dotted #fff;
  height: 350px;
  background-color: #2b2a2a59;
  border-radius: 10px;
  margin-bottom: 20px;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.file-dropper input {
  opacity: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  cursor: pointer;
}

.file-dropper:hover {
  transition: 0.5s;
  color: #fff;
  background-color: #61616159;
}

.image-preview {
  width: 0%;
  opacity: 0;
  display: block;
  margin: 0 auto 20px auto;
  border-radius: 10px;
}

.image-preview-show {
  width: 75%;
  opacity: 1;
  transition: 0.5s;
}

.button {
  font-family: "DelaGothicOne";
  margin-bottom: 20px;
  margin-top: 20px;
  width: 80%;
  border-radius: 40px;
  height: 45px;
  cursor: pointer;
  background-color: #fff;
}

.button:hover {
  transition: 0.5s;
  box-shadow: #d3fd54 5px 5px, #5541f5 -5px -5px;
}
